@import "../assets/common";
html {
  font-size: 10px; //rem基础值需要适配的地方使用，需要固定的地方不能使用
}
.root-component {
  @import "./Components/index";
  font-size: 1.4rem;
  & > header {
    height: @headerHeight;
    background: @themeColor;
    padding-left: @blank;
    padding-right: @blank;
    @import "../components/Header/index";
  }
  & > footer {

  }
}